<footer>
    
    <div class="footer-container">
        <div class="footer-content">
            <p>&copy; 2024 - D I A M O N D - T U R Í S M O. Todos os direitos reservados.</p>
            
        </div>
    </div>
</footer>
<style>
    footer {
        margin: 5% 0 0 0;
        background-color: #870DD9;
        color: white;
        padding: 10px 0;
    }
    .footer-container {
        max-width: 1200px;
        max-height: 30px;
        margin: 0 auto;
        padding: 0 30px;
    }
    .footer-content {
    display: flex;
    justify-content: space-between;
    padding-left: 17%;
    align-items: center;
    font-size: 1.3rem;
    width: 100%; /* ou defina uma largura específica, por exemplo: width: 80%; */
    margin: 0 auto; /* Margem automática para centralizar horizontalmente */
}

    .footer-nav ul {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 15px;
    }
    .footer-nav a {
        color: white;
        text-decoration: none;
    }
    .footer-nav a:hover {
        text-decoration: underline;
    }
</style>
